body {
    background-color: beige;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container1 {
    display: grid;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 19px 30px 0 rgba(0,0,0,0.2);
    border-radius: 4%;
    padding: 5px;
    width: 360px;
    height: 490px;
    margin: 30px 245px 30px 240px;
}

.container2 {
    display: grid;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 19px 30px 0 rgba(0,0,0,0.2);
    border-radius: 4%;
    padding: 5px;
    width: 360px;
    height: 490px;
    margin: -520px 245px 30px 670px;
}

.scroll {
    width: 330px;
    overflow: scroll;
    height: 350px;
}

.block {
    display: block;
}